@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 110px;
}

.container {
    margin: 0 auto;
    padding: 0 5%;
}

.container-nav {
    margin: 0;
    padding: 0 5%;
}

.project-info {
    position: absolute;
    top: 75%;
    left: 5%;
}

.project:hover .project-info {
    top: 0;
    transition: 0.5s;
}

@media screen and (max-width: 1024px) {
    .container-nav {
        margin: 0 auto;
        padding: 0 2%;
    }
}

/* ANIMATION */
@keyframes left {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes right {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes bottom {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animation-left {
    animation: left 1s;
    animation-timeline: view();
    animation-range: entry 0% contain 60%;
}

.animation-right {
    animation: right 1s;
    animation-timeline: view();
    animation-range: entry 0% contain 60%;
}

.animation-bottom {
    animation: bottom 1s;
    animation-timeline: view();
    animation-range: entry 0% contain 60%;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 40;
    display: block !important;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
}

.modal div {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 50%;
    min-width: 200px;
    max-width: 400px;
    border-radius: 10px;
    overflow: hidden;
}

.modal div img {
    width: 50%;
    margin: 20px auto 0;
}